// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$icon_w: 24px;
$icon_h: 24px;

header {
	h1 {
	    margin: 10px 0 3px 0;
	    text-align: center;
	    font-size: 24px;
	    font-weight: normal;
	    line-height: 46px;
	    text-transform: lowercase;
	    color: inherit;
	    text-rendering: optimizelegibility;
	}

	p {
		margin: 0;
		text-align: center;
		font-size: 13px;
		color: #777;
	}
}

/**
 * Grid container
 */

.togmenu {
	position: fixed;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	z-index: 998;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #f3645c;
}

.menubtn {
	padding: 16px 20px;
	background:#f3645c;
	color: #fff;
}

#menu {

	h1 {
		margin-top:10px;
		margin-left:30px;
	}

	li {
		list-style: none;
		border-top: 2px solid #fff;

		a {
			display: block;
			padding: 0px 40px;
			font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
			border-left: 1px solid #DD5951;
			line-height: 40px;
			text-decoration: none;
			background: #f3645c;
			color: #fff;
		}
	}
}

@media only screen and (min-width: 800px) {

	#menu {
		ul {
			margin: 0 auto;
			padding: 0;
			height: 40px;
			width: 84%;
			z-index: 999;
			background: #f3645c;
			filter: alpha(opacity=87);
	  		-moz-opacity: 0.87;
			     opacity: 0.87;

			li {
				display: inline-block;
				border:none;
			}
		}
	}
	.menubtn {
		display:none;
	}
	.togmenu {
		display:block;
	}
}

#logo {
	float: left;
	margin-top: 2px;
	width: 10px;
	height: 45px;
}

#toukou{
	display: block;
	height: 30px;
	width: 90px;
	background-image: url("photouploader.png");
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.flexslider {
  		width: 1150px;
  		margin: 0 auto 100px;
	}

#main {
	width: 1170px;
	margin: 0 auto;
}


#howtouse{
	height:654px;
	width: 1150px;
	margin: 0 auto 100px;
}

@media screen and (max-width: 800px) {
	.flexslider {
		width:100%;
	}
	#menu li a {
		padding: 16px 20px;
	}
	#main {
		width:100%;
	}
	#howtouse {
		width:100%;
	}

}


/* How to Use */




.picname {
	padding:4px 6px 4px;
	width: 50px;
	font-size: 11px;
	background: #fff;
}

.prefecturemenu {

	width: 124px;
	height: 24px;
	line-height: 24px;

	.prefectureaic {
		height: 24px;
		width: 24px;
		line-height: 24px;
		color: #f3645c;
		font-size: 1.25em;
	}

	.prefecture {
		float:right;
		height: 24px;
		width:100px;
		font-size: 11px;
		line-height: 24px;
		-webkit-box-shadow: 0 1px 0px 0px white inset;
		   -moz-box-shadow: 0 1px 0px 0px white inset;
		        box-shadow: 0 1px 0px 0px white inset;
		border-radius: 0 0 3px 3px;
		color: #666;
	}
}

.menu {
	position: relative;
	-webkit-box-shadow: 0 1px 0px 0px white inset;
	   -moz-box-shadow: 0 1px 0px 0px white inset;
	        box-shadow: 0 1px 0px 0px white inset;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid #e7e7e7;
	color:#777;
}

#clublanking li {
	float:left;
	margin-left:60px;
	height:200px;
	width:200px;
	list-style-type: none;

	img {
		height:200px;
		width:200px;
	}
}

#lanking {
	height:300px;
	margin: 0 auto;

	h1 {
		margin-left:100px;
	}

	ul {
		margin: 0 auto;
		width: 1170px;
	}
}

.move{
	background: #ccc;
	margin-bottom:0px;
	width:196px;
}

.piceyemenu {
	width: 100%;
	height:28px;

	/**
	 * pic-like menu
	 */

	.picmenu {
		float: left;
		height: 28px;
		line-height: 28px;
	}
	.likephoto {
		width: $icon_w;
		height: $icon_h;
		line-height: $icon_h;
		color: #f3645c;
		font-size: 1.25em;
	}
	.likenum {
		height: $icon_h;
		line-height: $icon_h;
		font-size: 11px;
		color: #666;
	}
	.disabled {
		width: $icon_w;
		height: $icon_h;
		line-height: $icon_h;
		color: #3b3b3b;
	}

	/**
	 * pic-look menu
	 */
	.lookmenu {
		float: left;
		height: 28px;
		line-height: 28px;
	}
	.lookphoto {
		width: $icon_w;
		height: $icon_h;
		line-height: $icon_h;
		color: #f3645c;
		font-size: 1.25em;
	}
	.looknum{
		height: $icon_h;
		line-height: $icon_h;
		font-size: 11px;
		color: #666;
	}
}

#twitter {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 210px;
	height: 200px;
	z-index: 999;
}

#tiles {
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 0;
	list-style-type: none;

	/**
	 * Grid items
	 */
	li {
		display: none; /** Hide items initially to avoid a flicker effect **/
		padding: 10px ;

		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		        box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		background-color: #ffffff;
		border:1px solid #dedede;
		cursor: pointer;

		img {
			display: block;
		}

		/**
		 * Grid item text
		 */

		/** General page styling **/

		p {
			line-height: 24px;
		}
	}
}

.imageBox {
	figure {
		display: block;
		position: relative;
		overflow: hidden;
	}

	figcaption {
		position: absolute;
		bottom: -30%;
		left: 0;
		width: 100%;
		height: 30px;
		text-align: center;
		line-height: 30px;

		background: rgba(243, 100, 92, 0.75);
		color: white;

		-webkit-transition: all 0.3s ease;
		   -moz-transition: all 0.3s ease;
		     -o-transition: all 0.3s ease;
	}
		figure:hover figcaption {
		bottom: 0%;
	}

}

/** Loader **/

#loader {
	height: 16px;
	text-align: center;
	padding: 25px 0 25px 0;
}

#loaderCircle {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background-image: url(loading.gif);
}


/** modal **/
.modal-header{
	background: rgba(243, 100, 92, 0.75);
	color: white;
	h3{
		text-align:center;
	}
}

.field{
	margin:0 auto;
	label{
		text-align:center;
	}
	input{
		width:100%;
	}
	textarea{
		width:100%;
	}
	.actions input{
		text-align:center;
	}
}

